#(project
  (#(deps (#("rvirding/lfe" "develop")
           #("lfex/kla" "master")
           #("lfex/ltest" "master")
           #("lfex/lutil" "master")))
   #(meta (#(name ltest-se)
           #(description "Selenium support for use with the ltest framework.")
           #(version "0.1.0")
           #(keywords ("LFE" "Lisp" "Library" "Testing"))
           #(maintainers (
             (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
           #(repos (
             #(github "lfex/ltest-se")))))))
